/* Profile */
.profile-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.profile-pic {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #8b0000;
	margin-bottom: 8px;
}

.username {
	font-size: 18px;
	font-weight: 600;
}
.profile-tabs {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}
/* Watched/to Watch tabs */
.tab-btn {
	flex: 1;
	padding: 10px;
	background: none;
	border: none;
	font-size: 14px;
	color: #777;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}

.tab-btn.active {
	color: #8b0000;
	border-bottom: 2px solid #8b0000;
	font-weight: 600;
}

/* Movies compartiments */
.movies-section {
	display: none;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.movies-section.active {
	display: grid;
}

.movies-section img {
	width: 100%;
	height: 120px;
	object-fit: cover;
	border-radius: 6px;
}
