body {
	background: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.iphone {
	background: #ffffff;
	width: 390px;
	height: 770px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 40px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.iphone h1,
.iphone h2,
.iphone h3,
.iphone h4,
.iphone p {
	margin: 0;
	font-family: inherit;
}

.iphone h1 {
	text-align: center;
}
.iphone p {
	margin-bottom: -3px;
	font-size: 20px;
}

.iphone input[type="text"],
.iphone input[type="range"],
.iphone input[type="password"],
.iphone input[type="email"] {
	width: 100%;
	padding: 6px 10px;
	font-size: 14px;
	border-radius: 6px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

.iphone input:focus {
	border-color: #ff4b4b;
	box-shadow: 0 0 6px rgba(255, 75, 75, 0.5);
}

button {
	border-radius: 6px;
	border: none;
	cursor: pointer;
	transition: 0.2s ease;
	font-family: inherit;
}

.start-btn,
.casual-btn,
.small-btn,
.tab-btn,
.add-watchlist-btn {
	font-weight: 600;
	color: white;
}
.start-btn,
.casual-btn{
margin-top: 10px;
}
.bottom-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: #fff;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

.nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #999;
	text-decoration: none;
	font-size: 11px;
}

.nav-item i {
	font-size: 20px;
	margin-bottom: 3px;
}
.nav-item.active {
	color: #a80000;
}

.nav-search {
	color: #fff;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-search i {
	font-size: 22px;
	color: #999;
}
.nav-search span {
	display: none;
}

.card,
.movie-card,
.friend-card,
.movie-card-default,
.friend-movie-card,
.watchlist-poster {
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease;
}

.card:hover,
.movie-card:hover,
.friend-card:hover,
.movie-card-default:hover,
.friend-movie-card:hover,
.watchlist-poster:hover {
	transform: scale(1.05);
}

::-webkit-scrollbar {
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
}

.movie-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tab-btn {
	flex: 1;
	padding: 10px;
	background: none;
	border: none;
	font-size: 14px;
	color: #777;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}

.tab-btn.active {
	color: #8b0000;
	border-bottom: 2px solid #8b0000;
	font-weight: 600;
}

button:hover,
.tab-btn:hover {
	opacity: 0.9;
}
