body {
	background: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.iphone {
	width: 390px;
	height: 770px;
	background-color: white;
	border-radius: 40px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	padding: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	padding-bottom: 85px;
}

.iphone h1 {
	font-size: 24px;
	text-align: center;
	margin-top: 20px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.iphone p {
	margin-bottom: -3px;
	font-size: 20px;
}

.iphone input[type="range"] {
	width: 100%;
	margin-top: 10px;
}

.start-btn,
.casual-btn {
	margin-top: 40px;
	width: 100%;
	padding: 15px;
	border: none;
	background: rgb(212, 102, 102);
	color: white;
	font-size: 16px;
	border-radius: 12px;
	cursor: pointer;
}

.casual-btn {
	width: 40%;
	padding: 10px;
}

.bottom-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: #fff;
	border-top: 1px solid #eaeaea;

	display: flex;
	justify-content: space-around;
	align-items: center;

	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

.nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: #999;
	text-decoration: none;
	font-size: 11px;
}

.nav-item i {
	font-size: 20px;
	margin-bottom: 3px;
}

.nav-item.active {
	color: #a80000;
}

.nav-search {
	color: #fff;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-search i {
	font-size: 22px;
}

.nav-search span {
	display: none;
}
